Hello world {{appDetailListRef?.listName}}
<a href="" routerLink="/to-learn-animation">To Learn Animation</a>
<app-tabs>
  <!-- <ng-container ngProjectAs="cry">
    <p>Cry cry cry</p>
  </ng-container>
  <ng-container ngProjectAs="happy">
    <p>Happy happy happy</p>
  </ng-container>
  <ng-container ngProjectAs="sid">
    <p>sad sad sad</p>
  </ng-container> -->
  <app-tab><p>Huskar</p></app-tab>
  <app-tab><p>Lina</p></app-tab>
  <app-tab><p>Void</p></app-tab>
</app-tabs>
<router-outlet></router-outlet>
